.what_i_do {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 1rem 5rem 0 5rem;

  h1 {
    color: rgba(0, 0, 0, .55);
    margin: 0;
    font-size: 2rem;
    font-weight: 100;
  }

  &-entry {
    margin: 3rem 0 0 0;

    h2 {
      text-align: left;
      color: #3265A7;
      margin: .25rem 0;
      font-size: 2rem;
      font-weight: 700;
    }
  
    p {
      text-align: left;
      color: rgba(0, 0, 0, .8);
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }
}