.menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: flex-end;

  a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    outline: none;
    text-align: left;
    border-radius: 3px;
    padding: 1rem;
    margin: 0 .25rem;
    transition: background .2s ease-in-out;

    &:hover, &:active, &:focus {
      background: rgba(0, 0, 0, .2);
    }
  }

  @media screen and (max-width: 600px) {
    padding: 2rem 0;
    justify-content: flex-start;
    width: 100%;

    a {
      flex: 1 1 100%;
      margin: .25rem -1rem;
      font-size: 1.5rem;
      width: 100%;
    }
  }
}