.social {
  max-width: 1200px;
  margin: auto;
  padding: 10rem 5rem 0 5rem;
  color: #fff;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  h2 {
    opacity: .8;
    margin: .25rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 100;
  }

  &-icons {
    margin-top: 1.5rem;
    display: flex;
  }

  &-icon {
    height: 2rem;
    width: 2rem;
    margin: 0 1.5rem 0 0;

    svg {
      height: 100%
    }
  }

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }
}