.app_header {
    padding: 2rem 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: transparent;
    justify-content: space-between;

    &-brand {
        width: 4rem;
    }

    &-menu {
        background: transparent;
        border: transparent;
        height: 100%;
        width: 3rem;
        padding: 0;
        border-radius: 3px;
        outline: none;
        transition: all .2s ease-in-out;

        &_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .5rem;
        }

        &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, .05);
        }

        &_line {
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background: #fff;
            margin: .25rem 0;
        }
    }

    @media screen and (max-width: 600px) {
        padding: 2rem;
    }
}