.experience {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 10rem 5rem 0 5rem;
  color: #fff;

  h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 100;
  }

  h4 {
    margin: .25rem 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  h5 {
    margin: 0;
    opacity: .55;
    font-size: 1.3rem;
    font-weight: 100;
  }

  &-entry {
    padding: 1rem;
    margin: .5rem;
    flex: 1 2;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    background: rgba(0, 0, 0, .2);
  }

  @media screen and (max-width: 600px) {
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}